.jumbotron1 {
    margin-top: 50px;
}

.elcomo {
    flex: 1 250px;
    padding: 20px 20px 20px 20px;
    align-items: center;
}

.card {
    flex: 1 250px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(138, 133, 153);
}

.alineacion {
    align-items: stretch;
}

.alex {
    flex;
    2 150 padding: 2px 2px 2px 2px;
}

.arriba {
    align-self: flex-start;
}

.footer {
    background: rgb(68, 62, 85);
    color: rgb(214, 207, 207);
}
.cuadro {margin: 20px;}
.titulo1 {
    font-size: 1.2rem;
}
